
.items .sort {
  margin-bottom: 20px;
}

.items .item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.items .item {
  padding: 10px;
  text-align: center;
  width: 150px;
}

.sort-results {
  display: flex;
  justify-content:space-between;
}


.item {
  padding: 10px;
  text-align: center;
  width: 330px;  
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  max-width: 100%;
  height: 200px; 
  object-fit: cover; 
  background-color: #f5f5f5; 
  border-radius: 5px;  
  margin-bottom: 10px; 
}

.item-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.item-price {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.item-action {
  margin-top: auto; 
}

.wishlist-button {
  background: transparent;
  border: 2px solid #000;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #007bff;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.wishlist-button:hover {
  background-color: #fff;
  color: white;
}
